ion-segment{
    --ion-color-primary: #FA7D12;
    ::-webkit-scrollbar {
        display: none;
    }
}

ion-segment-button{
    font-size: small;
}

ion-slides{
    height: auto;
}
app-slider-inicio{
    width: 100%;
    height: 100%;
}

.slade-full {
    height: 100%;
}
.first__slide{
    display: flex;
    align-items: flex-start !important;
}

